.registerPage {
   width: 100%;
   min-height: 600px;
   padding-top: 50%;
   margin-top: 5px;
   background: url('../../image/phoneLondon2.jpg') no-repeat;
   background-size: cover;
   background-position: center;
}

.formRegister {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid  rgb(2, 107, 155);
    border-radius: 5px;
    background-color: rgb(158, 232, 241);
    box-shadow: 0 0 5px 3px rgb(2, 59, 85);
}

.labelRegister {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: 'Ravi Prakash', cursive;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    text-align: center;
    color: rgb(1, 14, 83);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.inputRegister {
    padding: 10px;
    height: 25px;
    font-family: 'Ravi Prakash', cursive;
    font-size: 14px;
    margin-top: 5px;
    border: 1px solid  rgb(158, 232, 241);
    background-color: rgb(214, 232, 235);
    border-radius: 5px;
}

.inputRegister:focus {
    box-shadow: 0 0 5px 3px rgb(2, 185, 185);
    border: none;
    outline: none;
}

.btnRegister {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: 0.5px solid  rgb(9, 97, 138);
    border-radius: 5px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(9, 97, 138);
    outline: none;
    cursor: pointer;
}